body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #f0f0f0;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    flex: 0 0 150px;
    margin-right: 10px;
    font-weight: bold;
    text-align: right;
    color: #999;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
    font-size: 18px;
}

input[type="checkbox"] {
    width: auto;
    margin-left: 10px;
    transform: scale(1.5);
    flex: 0;
}

.button-container {
    width: 100%;
    margin-bottom: 15px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    flex: 1;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    margin: 0 5px;
}

input[type="text"]#searchInput {
    padding: 10px;
    flex: 0 0 70%;
    margin-left: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
}

input[readonly] {
    background-color: transparent;
    border: none;
    color: #f40b0b;
  }

.navigation button {
    background-color: #007BFF;
}

.navigation button:hover {
    background-color: #0056b3;
}

.edit button {
    background-color: #FFC107;
    color: #333;
}

.edit button:hover {
    background-color: #e0a800;
}

.other button {
    background-color: #6f42c1;
}

.other button:hover {
    background-color: #5a32a3;
}

button.exit {
    background-color: #dc3545;
}

button.exit:hover {
    background-color: #b02a37;
}

.search button {
    background-color: #007BFF;
    flex: 0 0 25%;
}

.search button:hover {
    background-color: #0056b3;
}
