<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNC DB MAIN PAGE</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>MAIN MENU</h1>
        <!DOCTYPE html>
            <div class="container">
                <div class="button-grid">
                    <button>Login</button>
                    <button>EMPTY</button>
                    <button onclick="gotoEmployee()">Employees</button>
                    <button>EMPTY</button>
                    <button>EMPTY</button>
                    <button>EMPTY</button>
                </div>
            </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>